In [2]:
import numpy as np
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi

from dotenv import load_dotenv
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [7]:
ticker = ["SPY", "VXUS"]

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp('2020-06-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-06-22', tz='America/New_York').isoformat()

# Get 1 year's worth of historical data for SPY and AGG
df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

In [8]:
df

                               SPY                                           \
                              open      high       low     close     volume
2020-06-01 00:00:00-04:00  303.620  306.2050  303.0600  305.5800   46186733
2020-06-02 00:00:00-04:00  306.550  308.1300  305.1000  308.1300   66042497
2020-06-03 00:00:00-04:00  310.240  313.2200  309.9400  312.2117   79223813
2020-06-04 00:00:00-04:00  311.110  313.0000  309.0800  311.3100   68304792
2020-06-05 00:00:00-04:00  317.230  321.2750  317.1600  319.2700  122191709
2020-06-08 00:00:00-04:00  320.220  323.4100  319.6300  323.2500   64329574
2020-06-09 00:00:00-04:00  320.300  323.2849  319.3600  320.8100   67642220
2020-06-10 00:00:00-04:00  321.420  322.3900  318.2209  319.0100   84064921
2020-06-11 00:00:00-04:00  311.460  312.1500  300.0100  300.6200  182628939
2020-06-12 00:00:00-04:00  308.240  309.0800  298.6000  304.2800  168502612
2020-06-15 00:00:00-04:00  298.020  308.2800  296.7400  307.0300  123098924
2020-06-16 00:00:00-04:00  315.480  315.6400  307.6700  312.9300  121907854
2020-06-17 00:00:00-04:00  314.070  314.3900  310.8600  311.5600   74047487
2020-06-18 00:00:00-04:00  310.005  312.3000  309.5100  311.7400   64298819
2020-06-19 00:00:00-04:00  314.170  314.3800  306.5300  308.5600  111140318
2020-06-22 00:00:00-04:00  307.990  311.0500  306.7500  310.6800   64108242

                            VXUS
                            open     high      low    close   volume
2020-06-01 00:00:00-04:00  47.85  48.4600  47.7850  48.4600  3489082
2020-06-02 00:00:00-04:00  48.81  49.2050  48.7700  49.1400  2745488
2020-06-03 00:00:00-04:00  49.73  50.3300  49.6800  50.1862  7275786
2020-06-04 00:00:00-04:00  49.86  50.1643  49.6950  49.8400  4543927
2020-06-05 00:00:00-04:00  50.88  51.2100  50.7450  50.8700  4128182
2020-06-08 00:00:00-04:00  51.10  51.4350  50.7550  51.4350  6021932
2020-06-09 00:00:00-04:00  50.56  50.9800  50.4750  50.8300  5549112
2020-06-10 00:00:00-04:00  51.05  51.1850  50.5500  50.8600  3070236
2020-06-11 00:00:00-04:00  49.40  49.5500  48.0100  48.0700  8917116
2020-06-12 00:00:00-04:00  49.41  49.4800  48.7200  48.7300  1164230
2020-06-15 00:00:00-04:00  48.02  49.1900  47.8239  49.0300  3220246
2020-06-16 00:00:00-04:00  50.06  50.1300  49.0800  49.5900  9115537
2020-06-17 00:00:00-04:00  49.92  50.0100  49.6400  49.7600  2476454
2020-06-18 00:00:00-04:00  49.52  49.7900  49.4200  49.6000  4627379
2020-06-19 00:00:00-04:00  50.15  50.1500  49.3550  49.4100  2805670
2020-06-22 00:00:00-04:00  49.52  49.8400  49.3600  49.7800  3401850

In [9]:
import numpy as np
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
%matplotlib inline
from dotenv import load_dotenv
load_dotenv()
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")
# Subset your tickers, then pull returns data:
# Set the ticker
ticker = ["VTI", "VXUS", "BND", "BNDX", "VUG", "VTX", "VB", "VOO", "VFX", "VONG", "VONX", "VYM"]
# Set timeframe to '1D'
timeframe = "1D"
# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp('2015-01-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2019-12-31', tz='America/New_York').isoformat()
# Get 1 year's worth of historical data for SPY and AGG
df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df
# Drop unnecessary columns
df = df.drop(
    columns=['open', 'high', 'low', 'volume'],
    level=1
)
# Display sample data
df.head()

,BND,BNDX,VB,VFX,VONG,VONX,VOO,VTI,VTX,VUG,VXUS,VYM
,close,close,close,close,close,close,close,close,close,close,close,close
2015-01-02 05:00:00+00:00,82.66,53.2551,116.30,NaN,98.0100,NaN,188.39,105.93,NaN,104.24,48.21,68.7300
2015-01-05 05:00:00+00:00,82.90,53.3300,114.46,NaN,96.5200,NaN,185.06,104.11,NaN,102.43,47.18,67.5000
2015-01-06 05:00:00+00:00,83.14,53.4435,112.99,NaN,95.4300,NaN,183.26,103.08,NaN,101.44,46.79,67.0593
2015-01-07 05:00:00+00:00,83.21,53.4100,114.37,NaN,96.5845,NaN,185.53,104.31,NaN,102.73,47.34,67.8100
2015-01-08 05:00:00+00:00,83.04,53.4000,116.21,NaN,98.3900,NaN,188.85,106.12,NaN,104.54,47.98,69.0900